body {background-color:black;
color:white;
font:arial;
}
h1{
    color:grey;
}
.maindiv{
  margin: auto;
  width: 50%;
  background-color:white;
  color:black;
  padding: 20px;
  border-radius: 25px;
}
.highlight {
  background-color: yellow;
}
